.nav-wrapper {
    background: $cinder;
    width: 100vw;
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: 9999;

    @include media($desktop){
        width: 7vw;
        height: 100vh;
        top: 0;
        bottom: auto;
    }
}

.menu-wrapper {
  @include media($desktop) {
    @extend %vertical-align;
    left: 1.3vw;
    width: 12rem;
    min-width: 180px;
  }
}

.menu {
    list-style-type: none;
    padding: .38rem 0;
}

.menu-item {
  position: relative;
  background: $cinder;

  .link {
    position: relative;
    text-decoration: none;
    color: $spicy;
    display: block;
    padding: 1rem .5rem;
    width: 100%;
    text-indent: 3.8rem;
    height: 100%;
    transition: 0.2s ease-out all;

    &:before {
      content: '';
      display: block;
      background: $tundora;
      border-radius: 50%;
      width: 2.5rem;
      height: 2.5rem;
      left: .5rem;
      @extend %vertical-align;
      z-index: 99;
    }

    &:focus {
      border: none;
      outline: none;
    }
  }

  &+.menu-item:not(.menu-item--blog) {

    .link {
      &:after {
        content: '';
        display: block;
        background: $tundora;
        width: 1.5rem;
        height: 2.5rem;
        left: 1rem;
        top: -1rem;
        position: absolute;
      }
    }

    &:before {
      content: '';
      display: block;
      background: $cinder;
      position: absolute;
      top: -.66rem;
      border-radius: 50%;
      width: 1.2rem;
      height: 1.3rem;
      left: 2.05rem;
      z-index: 999;
    }
    &:after {
      content: '';
      display: block;
      background: $cinder;
      position: absolute;
      top: -.66rem;
      border-radius: 50%;
      width: 1.2rem;
      height: 1.3rem;
      left: .25rem;
      z-index: 999;
    }
  }

  &.visible {
    background: linear-gradient(45deg, $cinder 0%, lighten($cinder, 2%) 74%, lighten($cinder, 3.5%) 75%,$cinder 100%); /* W3C */
    width: 110%;
    // transform: translateX(10%);
    .link {
      color: $texasrose;
      padding-left: 4rem;
      text-indent: 1.5rem;
    }
  }
}

.active {
    display: block;
    border-radius: 50%;
    width: 2.5rem;
    height: 2.5rem;
    left: .5rem;
    position: absolute;
    top: 1.5rem;
    z-index: 100;
    background: $texasrose;
}
