//Font Families

$chunkfive : 'chunkfiveroman', Tahoma, sans-serif;
$exolight : 'exolight', arial, sans-serif;
$exo: 'exoregular', arial, sans-serif;
$exobold: 'exodemibold', arial, sans-serif;



@font-face {
    font-family: 'chunkfiveroman';
    src: url('../fonts/chunkfive-webfont.eot');
    src: url('../fonts/chunkfive-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/chunkfive-webfont.woff2') format('woff2'),
         url('../fonts/chunkfive-webfont.woff') format('woff'),
         url('../fonts/chunkfive-webfont.ttf') format('truetype'),
         url('../fonts/chunkfive-webfont.svg#chunkfiveroman') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'exolight';
    src: url('../fonts/exo-light-webfont.eot');
    src: url('../fonts/exo-light-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/exo-light-webfont.woff2') format('woff2'),
         url('../fonts/exo-light-webfont.woff') format('woff'),
         url('../fonts/exo-light-webfont.ttf') format('truetype'),
         url('../fonts/exo-light-webfont.svg#exolight') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'exoregular';
    src: url('../fonts/exo-regular-webfont.eot');
    src: url('../fonts/exo-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/exo-regular-webfont.woff2') format('woff2'),
         url('../fonts/exo-regular-webfont.woff') format('woff'),
         url('../fonts/exo-regular-webfont.ttf') format('truetype'),
         url('../fonts/exo-regular-webfont.svg#exoregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'exodemibold';
    src: url('../fonts/exo-semibold-webfont.eot');
    src: url('../fonts/exo-semibold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/exo-semibold-webfont.woff2') format('woff2'),
         url('../fonts/exo-semibold-webfont.woff') format('woff'),
         url('../fonts/exo-semibold-webfont.ttf') format('truetype'),
         url('../fonts/exo-semibold-webfont.svg#exodemibold') format('svg');
    font-weight: normal;
    font-style: normal;

}
