.section.one {
	@include media($desktop) {
		font-family: $exolight;
		padding-top: 10%;
		padding-right: 32%;
		font-size: 1.7vw;
		overflow: hidden;

		.title {
			font-size: 6vw;
			margin: 0;
		}

		&:after {
			content: '';
			display: block;
			position: absolute;
			bottom: -13%;
			right: -13%;
			width: 38%;
			// max-width: 600px;
			height: 95%;
			// max-height: 800px;
			background: url('../images/stag.svg') top 0 left 0 / cover no-repeat;
			transform: rotate(-1deg);
		}
	}
	.lead-in {
		color: $texasrose;
		font-family: $exo;
		text-decoration: none;
		position: relative;
		z-index: 999;
		margin-top: 5.5%;
    padding-top: 1.2rem;
    text-indent: .3rem;
    left: 47%;
    display: inline-block;
    height: 10vw;
		max-height: 150px;
    width: 14vw;
		max-width: 180px;
    clip-path: polygon(100% 45%, 0 45%, 50% 100%);
    -webkit-clip-path: polygon(100% 0, 0 0, 50% 100%);
		font-size: 1.3vw;
		transition: 0.5s margin-top ease-out;
		text-align: center;
		background: $spicier;
		transition: 0.5s all ease-out;
		overflow: hidden;

		@include media($desktoplarge) {
			font-size: 1.3rem;
		}


		&:before {
			content: '';
			position: absolute;
			display: block;
			top: -50%;
			width: 10vw;
			right: auto;
			bottom: -50%;
			left: -15vw;
		  background: linear-gradient(to right, rgba(229, 172, 142, 0), rgba(255,255,255,0.1) 50%, rgba(229, 172, 142, 0));
			transition: 0.5s all ease-out;
		}

		&:hover {
			color: transparent;
			// text-indent: -99999em;
			transform: scale(0.7);
			transform-origin: 50% 80%;
			background: darken($spicier, 5%);

			&:before {
				left: 15vw;
			}
		}
	}
	@include media($desktoplarge) {
		font-size: 2rem;
	}
}
