.section.two {

  @include media($desktop) {
    // max-height: 100vh;
    // height: 100vh;

    #projects-app {
      // height: 60%;
    }
  }

  .pager {
    filter:sepia(0.4) saturate(2.5) hue-rotate(-30deg) contrast(0.67);
  }
}

.portfolio {
  font-size: calc(16px + 0.10vw);
  position: relative;
  transition: all 0.5s ease-out;
  transition-delay: 1s;
  padding-top: 2vw;

  @include media($desktop) {
    min-height: 50vh;
    height: 100%;
  }
  @include media($desktoplarge) {
    padding: 3vw 15%;
  }


  .project-image {
    @include span-columns(12);
    @include media($desktop) {
      @include span-columns(5);
    }
    height: 100%;
    position: relative;
    img {
      @include media($desktop) {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
      }
      position: relative;
      max-height: 100%;
      max-width: 100%;
      display: block;
      margin: 0 auto;
    }
  }

  .project-info {
    @include span-columns(12);
    @include media($desktop) {
      padding-top: 0;
      @include span-columns(6.5);
      @include shift(0.3);
    }
    height: 100%;
    position: relative;
    padding-top: 1rem;
    padding-right: 3vw;

    h2 {
      padding-bottom: 0.5vw;
      margin-top: 0;
    }
    a {
      text-decoration: none;
    }
    h3 {
      margin-top: -.8rem;
      font-size: calc(16px + 0.10vw);
    }
    ul {
      padding-left: 1rem;
      li +li {
        margin-top: 1rem;
      }
    }
  }

  .close-button {
    color: $spicy;
    font-family: $exobold;
    transform: scaleY(0.75);
    appearance: none;
    background: none;
    border: none;
    position: absolute;
    top: -2rem;
    right: 0;
    font-size: 2.5rem;
    transition: 0.2s color ease-out;
    &:hover {
      color: $texasrose;
    }
    &:focus {
      outline: none;
      border: none;
    }
  }
}

.pagination {
  animation: fadein 2s ease forwards;
  @include media($desktoplarge) {
    transform: scale(1.3);
  }
}

.detail {
  height: 100%;
  // overflow: hidden;
}

.detail-enter {
  animation: slidein 10s ease forwards;
}

.detail.detail-leave {
  max-height: 999em;
  animation: slideout 1s ease forwards;
  .toggle {
    transition: 0.2s opacity ease-out;
    opacity: 0;
  }
}
.detail-leave.detail-leave-active {
  max-height: 0;
  transition: all 0.4s ease-out;
}

.pager {
  @include span-columns(6);
  @include omega(2n);

  @include media($tablet) {
    @include omega-reset(2n);
    @include omega(3n);
    @include span-columns(4);
  }
  @include media($desktop) {
    @include omega-reset(3n);
    @include span-columns(6);
    @include omega(2n);

    &:nth-of-type(even) {
      transform: scale(1.2);
    }
    &:nth-of-type(3) {
      transform: scale(1.5);
    }
    &:nth-of-type(4) {
      transform: scale(1.4);
      @include shift(-0.4);
    }
    &:nth-of-type(n+4) {
      margin-top: 6vw;
    }
    &:last-child {
      @include shift(7);
      margin-top: 4vw;
    }
  }
  cursor: pointer;
  opacity: 0.8;

  &:hover {
    position: relative;
    z-index: 9999;
    opacity: 1;
    transition: all 0.3s ease-in;
    filter: none;

    svg {
      stroke: $texasrose;
      stroke-width: 0.1;
      stroke-linecap: square;
    }
  }
}

.portfolio-active {
  margin-right: 0;
  transition: none;
  padding: 5vw 0 0;
  @include media($desktop) {
    padding: 1vw 0 0;
  }
  .pagination{
    transform: scale(1);
    animation: none;
  }
  .pager.pager {
    filter: none;
    clear: none;
    margin-top: 0 !important;
    animation: none;
    transform: scale(1);
    &:last-child {
      @include shift(0);
      margin-top: 0;
    }
    &:nth-of-type(4) {
      @include shift(0);
    }
    @include span-columns(2);
    &.pager-active {
      transform: scale(1.1);
      opacity: 1;
      position: relative;
      z-index: 999;
    }
  }
}

.projects {
  overflow: hidden;
  height: 100%;
}

.slide {
  float: left;
  width: 100%;
  height: 100%;
  display: none;

  &.slide--active {
    display: block;
  }

  @include media($desktop) {
    padding: 1vw 5vw 0;
  }
}

.pager {
  svg {
    max-width: 100%;
    width: 100%;
    margin: 0 auto;
    display: block;
  }
}

.toggle {
  display: none;

  @include media($desktop) {
    display: block;
    position: absolute;
    top: 50%;
    transform: translateY(-50%) scaleY(1.5);
    position: absolute;
    font-family: $exobold;
    color: $spicy;
    font-size: 2.5rem;
    cursor: pointer;
    transition: 0.2s color ease-out;

    &:hover {
      color: $texasrose;
    }

    &.toggle-prev {
      left: 0;
    }
    &.toggle-next {
      right: 0;
    }
  }
}

@keyframes fadein {
  0% {
    opacity: 0;
  }
  80% {
    opacity: 0;
  }
100% {
    opacity: 1;
  }
}

@keyframes slideout {
  from {
    max-height: 999em;
  }
  to {
    max-height: 0;
  }
}

@keyframes slidein {
  from {
    max-height: 0;
  }
  to {
    max-height: 999em;
  }
}
