.portfolio {
  position: relative;

  @include media($desktop) {
    min-height: 50vh;
  }
}

.slide {
  float: left;
  width: 100%;
  display: none;

  &.slide--active {
    display: block;
  }

  @include media($desktop) {
    padding: 1vw 5vw 0;
  }
}

.toggle {
  @extend %vertical-align;
  position: absolute;
  font-family: $chunkfive;
  font-size: 3vw;
  cursor: pointer;

  &.toggle-prev {
    left: 0;
  }
  &.toggle-next {
    right: 0;
  }
}
