html, body {
	font-family: $exolight;
	-webkit-font-smoothing: antialiased;
}

// Header Styles
h1, h2 {
	font-family: $chunkfive;
}

h3, h4, h5, h6 {
	font-family: $exo;
	font-weight: normal;
}

.section .header {
	> h2 {
		font-size: 2.8rem;
		margin-bottom: 0;
		padding-bottom: .05rem;
    display: inline-block;
	}
	> h3 {
		margin-top: 0;
		padding-top: .25rem;
		display: inline-block;
	}
}

//
p.superscript {
	font-size: .8vw;
	line-height: .8rem;
	margin-top: -.3rem;
}
