html, body {
	font-family: $exolight;
	-webkit-font-smoothing: antialiased;
}

// Header Styles
h1, h2, h3, h4, h5, h6 {
	font-family: $chunkfive;
}

.section .header {
	> h2 {
		font-size: 2.5rem;
	}
}

//
p.superscript {
	font-size: .8vw;
	line-height: .8rem;
	margin-top: -.3rem;
}

